<nav class="navbar fixed-top navbar-expand-lg navbar-white bg-grey" style="padding-left: 250px">
    <div class="container-fluid container-height">
      <a class="nav-link dropdown-toggle" routerLink="/home" routerLinkActive="active">
        <img src="/assets/nvidia_website_logo.png" alt="" width="115" height="20">
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
        
    </div>
  </nav>