<nav class="navbar navbar-expand-lg navbar-white bg-white" style="margin-left: 250px">
  <div class="container-fluid container-height">
    <a class="brand-logo" routerLink="home" routerLinkActive="active">
      <img src="/assets/nvidia_website_logo.png" alt="" width="115" height="20">
    </a>
    <div class="collapse navbar-collapse" id="main_nav">
      <ul class="navbar-nav">
        <li class="nav-item dropdown" id="myDropdown">
          <a class="nav-link active m-2 nav-item-color" href="#" id="productsDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">Products </a>
          <ul class="dropdown-menu">
            <li> <a class="dropdown-item" href="#"> Hardware </a>
              <ul class="submenu dropdown-menu submenu-width">
                <div class="container">
                  <div class="row row-cols-6 align-items-start">
                    <div class="col">

                      <h6>Gaming and Entertainment</h6>

                      <li><a class="item-color" href="#">GeForce Graphics Cards</a></li>
                      <li><a class="item-color" href="#">Gaming Laptops</a></li>
                      <li><a class="item-color" href="#">G-SYNC Monitors</a></li>
                      <li><a class="item-color" href="#">SHIELD</a></li>
                    </div>
                    <div class="col">
                      <h6>Laptops and Workstations</h6>

                      <li><a class="item-color" href="#">Gaming Laptops</a></li>
                      <li><a class="item-color" href="#">NVIDIA RTX Desktop Workstations</a></li>
                      <li><a class="item-color" href="#">NVIDIA RTX in Professional Laptops</a></li>
                      <li><a class="item-color" href="#">DGX Station</a></li>
                      <li><a class="item-color" href="#">NVIDIA RTX Data Science</a></li>
                      <li><a class="item-color" href="#">Studio Laptops</a></li>
                    </div>

                    <div class="col">
                      <h6>Cloud and Data Center</h6>

                      <li><a class="item-color" href="#">Grace CPU</a></li>
                      <li><a class="item-color" href="#">DGX Systems</a></li>
                      <li><a class="item-color" href="#">EGX Platform</a></li>
                      <li><a class="item-color" href="#">HGX Platform</a></li>
                      <li><a class="item-color" href="#">DRIVE Constellation</a></li>
                      <li><a class="item-color" href="#">See All Servers ></a></li>
                    </div>

                    <div class="col">

                      <h6>Networking</h6>

                      <li><a class="item-color" href="#">GeForce Graphics Cards</a></li>
                      <li><a class="item-color" href="#">Gaming Laptops</a></li>
                      <li><a class="item-color" href="#">G-SYNC Monitors</a></li>
                      <li><a class="item-color" href="#">SHIELD</a></li>
                    </div>

                    <div class="col">

                      <h6>GPUs</h6>

                      <li><a class="item-color" href="#">GeForce Graphics Cards</a></li>
                      <li><a class="item-color" href="#">Gaming Laptops</a></li>
                      <li><a class="item-color" href="#">G-SYNC Monitors</a></li>
                      <li><a class="item-color" href="#">SHIELD</a></li>
                    </div>

                    <div class="col">

                      <h6>Embedded Systems</h6>

                      <li><a class="item-color" href="#">GeForce Graphics Cards</a></li>
                      <li><a class="item-color" href="#">Gaming Laptops</a></li>
                      <li><a class="item-color" href="#">G-SYNC Monitors</a></li>
                      <li><a class="item-color" href="#">SHIELD</a></li>
                    </div>

                  </div>
                </div>
              </ul>
            </li>
            <li> <a class="dropdown-item " href="#"> Software </a>
              <ul class="submenu dropdown-menu submenu-width">
                <div class="container">
                  <div class="row row-cols-5 align-items-start">
                    <div class="col">

                      <h6>Application Frameworks</h6>

                      <li><a class="item-color" href="#">GeForce Graphics Cards</a></li>
                      <li><a class="item-color" href="#">Gaming Laptops</a></li>
                      <li><a class="item-color" href="#">G-SYNC Monitors</a></li>
                      <li><a class="item-color" href="#">SHIELD</a></li>
                      <li><a class="item-color" href="#"></a></li>
                      <li><a class="item-color" href="#"></a></li>

                    </div>
                    <div class="col">
                      <div>
                        &nbsp;
                      </div>
                      <li><a class="item-color" href="#">High-Performance Computing</a></li>
                      <li><a class="item-color" href="#">Intelligent Video Analytics Metropolis</a></li>
                      <li><a class="item-color" href="#">Recommender Systems-Merlin</a></li>
                      <li><a class="item-color" href="#">Robotics - Isaac</a></li>
                      <li><a class="item-color" href="#">Telecommunicatios - Aerial</a></li>

                    </div>
                    <div class="col">
                      <h6>Apps and Tools</h6>

                      <li><a class="item-color" href="#">NGC Software Catalog</a></li>
                      <li><a class="item-color" href="#">Collaboration - Omniverse</a></li>
                      <li><a class="item-color" href="#">Data Cneter</a></li>
                      <li><a class="item-color" href="#">GPU Monitoring</a></li>
                      <li><a class="item-color" href="#">NVIDIA RTX Experience</a></li>
                      <li><a class="item-color" href="#">NVIDIA RTX Desktop Manager</a></li>
                      <li><a class="item-color" href="#">RTX Accerlerated Creative Apps</a></li>
                      <li><a class="item-color" href="#">Video COnferencing</a></li>
                      <li><a class="item-color" href="#">NVIDIA Workbench</a></li>

                    </div>

                    <div class="col">
                      <h6>Gaming and Entertainment</h6>

                      <li><a class="item-color" href="#">GeForce NOW</a></li>
                      <li><a class="item-color" href="#">GeForce Experience</a></li>
                      <li><a class="item-color" href="#">NVIDIA Broadcast APp</a></li>
                      <li><a class="item-color" href="#">[Omniverse] Machinima</a></li>
                    </div>

                    <div class="col">

                      <h6>Infrastructure</h6>

                      <li><a class="item-color" href="#">AI Enterprise Suite</a></li>
                      <li><a class="item-color" href="#">Cloud Native Support</a></li>
                      <li><a class="item-color" href="#">Cluster Management</a></li>
                      <li><a class="item-color" href="#">Edge Deployment Management</a></li>
                      <li><a class="item-color" href="#">Inference Serving</a></li>
                      <li><a class="item-color" href="#">IO Accerleration</a></li>
                      <li><a class="item-color" href="#">Networking</a></li>
                      <li><a class="item-color" href="#">Virtual GPU</a></li>

                    </div>
                  </div>
                </div>
              </ul>
            </li>
          </ul>
        </li>


        <li class="nav-item">
          <a class="nav-link active m-2 nav-item-color" href="#" id="solutionDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">Solutions</a>
          <ul class="dropdown-menu" aria-labelledby="solutionDropdown">
            <div class="container">
              <div class="row align-items-start">
                <div class="col">
                  <h6>AI and Data Science</h6>

                  <li><a class="item-color" href="#">Overview</a></li>
                  <li><a class="item-color" href="#">Data Analytics</a></li>
                  <li><a class="item-color" href="#">Machine Learning</a></li>
                  <li><a class="item-color" href="#">Deep Learning Training</a></li>
                  <li><a class="item-color" href="#">Deep Learning Inference</a></li>
                  <li><a class="item-color" href="#">Coversational AI</a></li>
                  <li><a class="item-color" href="#">Prediction and Forecasting</a></li>

                </div>

                <div class="col">
                  <h6>Data Center and Cloud Computing</h6>

                  <li><a class="item-color" href="#">Overveiw</a></li>
                  <li><a class="item-color" href="#">Data Center (On-Premises</a></li>
                  <li><a class="item-color" href="#">Edge Computing</a></li>
                  <li><a class="item-color" href="#">Cloud Computing</a></li>
                  <li><a class="item-color" href="#">Networking</a></li>
                  <li><a class="item-color" href="#">Virtualization</a></li>
                </div>

                <div class="col">
                  <h6>Design and Visualization</h6>

                  <li><a class="item-color" href="#">Overview</a></li>
                  <li><a class="item-color" href="#">Argumented and Virtual Reality</a></li>
                  <li><a class="item-color" href="#">Multi-Display</a></li>
                  <li><a class="item-color" href="#">Rendering</a></li>
                  <li><a class="item-color" href="#">Collaboration</a></li>
                  <li><a class="item-color" href="#">Graphics Virtualization</a></li>
                  <li><a class="item-color" href="#">Engineering Simulation</a></li>
                  <li><a class="item-color" href="#">Broadcast</a></li>
                </div>

                <div class="col">
                  <h6>Edge Computing</h6>

                  <li><a class="item-color" href="#">Overview</a></li>
                  <li><a class="item-color" href="#">AI-on-5G</a></li>
                  <li><a class="item-color" href="#">Intelligent Vido Analytics</a></li>
                  <li><a class="item-color" href="#">Industrial</a></li>
                  <li><a class="item-color" href="#">Robotics</a></li>
                  <li><a class="item-color" href="#">Edge Deployment Management</a></li>
                  <li><a class="item-color" href="#">Edge Solutions</a></li>
                </div>

                <div class="col">
                  <h6>High-Performance Computing</h6>

                  <li><a class="item-color" href="#">Overview</a></li>
                  <li><a class="item-color" href="#">HPCI and AI</a></li>
                  <li><a class="item-color" href="#">Simulation and Modeling</a></li>
                  <li><a class="item-color" href="#">Scientific Visualization</a></li>
                </div>

                <div class="col">
                  <h6>Self-Driving Vehicles</h6>

                  <li><a class="item-color" href="#">Overview</a></li>
                  <li><a class="item-color" href="#">Chauffeur</a></li>
                  <li><a class="item-color" href="#">Concierge</a></li>
                  <li><a class="item-color" href="#">Training</a></li>
                  <li><a class="item-color" href="#">HD Mapping</a></li>
                  <li><a class="item-color" href="#">Simulation</a></li>
                  <li><a class="item-color" href="#">Robotaxis</a></li>
                  <li><a class="item-color" href="#">Trucking</a></li>
                  <li><a class="item-color" href="#">ADAS</a></li>
                </div>
              </div>
            </div>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link active m-2 nav-item-color" href="#" id="industriesDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">Industries</a>
          <ul class="dropdown-menu" aria-labelledby="industriesDropdown">
            <div class="container">
              <div class="row align-items-start">
                <div class="col">
                  <li><a class="item-color" href="#">Overview</a></li>
                  <li><a class="item-color" href="#">Architecture, Engineering, Construction</a></li>
                  <li><a class="item-color" href="#">Consumer Internet</a></li>
                  <li><a class="item-color" href="#">Energy</a></li>
                </div>
                <div class="col">
                  <li><a class="item-color" href="#">Financial Services</a></li>
                  <li><a class="item-color" href="#">Healthcare and Life Sciences</a></li>
                  <li><a class="item-color" href="#">Higher Education</a></li>
                  <li><a class="item-color" href="#">Game Development</a></li>
                  <li><a class="item-color" href="#">Manufacturing</a></li>
                </div>
                <div class="col">
                  <li><a class="item-color" href="#">Media and Entertainment</a></li>
                  <li><a class="item-color" href="#">US Public Sector</a></li>
                  <li><a class="item-color" href="#">Restaurants</a></li>
                  <li><a class="item-color" href="#">Retail</a></li>
                  <li><a class="item-color" href="#">Robotics</a></li>
                </div>
                <div class="col">
                  <li><a class="item-color" href="#">Smart Cities</a></li>
                  <li><a class="item-color" href="#">Supercomputing</a></li>
                  <li><a class="item-color" href="#">Telecommunication</a></li>
                  <li><a class="item-color" href="#">Transportation</a></li>
                </div>
              </div>
            </div>
          </ul>
        </li>

        <li class="nav-item dropdown" id="myDropdown">
          <a class="nav-link active m-2 nav-item-color" href="#" id="forYouDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">For You</a>
          <ul class="dropdown-menu">
            <li> <a class="dropdown-item" href="#"> Creatives/Designers</a>
              <ul class="submenu dropdown-menu">
                <div class="container c-submenu-width">
                  <div class="row row-cols-4 align-items-start">
                    <div class="col">
                      <h6>NVIDIA Studio</h6>
                      <li><a class="item-color" href="#">Overview</a></li>
                      <li><a class="item-color" href="#">Accelerated Apps</a></li>
                      <li><a class="item-color" href="#">Products </a></li>
                      <li><a class="item-color" href="#">Compare</a></li>
                      <li><a class="item-color" href="#">Shop</a></li>
                    </div>
                    <div class="col">
                      <h6>Industries</h6>

                      <li><a class="item-color" href="#">Media and Entertainment</a></li>
                      <li><a class="item-color" href="#">Manufacturing</a></li>
                      <li><a class="item-color" href="#">Architecture, Engineering, and Construction</a></li>
                      <li><a class="item-color" href="#">All Industries ></a></li>
                    </div>

                    <div class="col">

                      <h6>Solutions</h6>

                      <li><a class="item-color" href="#">Data Center/Cloud</a></li>
                      <li><a class="item-color" href="#">Laptops/Desktops</a></li>
                      <li><a class="item-color" href="#">Augmented and Virtual Reality</a></li>
                      <li><a class="item-color" href="#">Multi-Display</a></li>
                    </div>
                    <div class="col">
                      <div>
                        &nbsp;
                      </div>
                      <li><a class="item-color" href="#">Rendering</a></li>
                      <li><a class="item-color" href="#">Collaboration</a></li>
                      <li><a class="item-color" href="#">Graphics Virtualization</a></li>
                      <li><a class="item-color" href="#">Engineering Simulation</a></li>
                    </div>
                  </div>
                </div>
              </ul>
            </li>

            <li> <a class="dropdown-item" href="#"> Data Scientists </a>
              <ul class="submenu dropdown-menu c-submenu-width">
                <div class="container">
                  <div class="row row-cols-5 align-items-start">
                    <div class="col">
                      <h6>Industries</h6>

                      <li><a class="item-color" href="#">Financial Services</a></li>
                      <li><a class="item-color" href="#">Consumer Internet</a></li>
                      <li><a class="item-color" href="#">Healthcare</a></li>
                      <li><a class="item-color" href="#">Higher Education</a></li>
                      <li><a class="item-color" href="#">Retail</a></li>
                      <li><a class="item-color" href="#">Public Sector</a></li>
                      <li><a class="item-color" href="#">All Industries ></a></li>
                    </div>
                    <div class="col">
                      <h6>Solutions</h6>

                      <li><a class="item-color" href="#">Data Analytics</a></li>
                      <li><a class="item-color" href="#">Machine Learning</a></li>
                      <li><a class="item-color" href="#">Deep Learning Training</a></li>
                      <li><a class="item-color" href="#">Deep Learning Inference</a></li>
                      <li><a class="item-color" href="#">Conversational AI</a></li>
                      <li><a class="item-color" href="#">Prediction and Forecasting</a></li>
                    </div>

                    <div class="col">
                      <h6>Software</h6>

                      <li><a class="item-color" href="#">NGC Software Catalog</a></li>
                      <li><a class="item-color" href="#">RAPIDS</a></li>
                      <li><a class="item-color" href="#">Apache Spark</a></li>
                      <li><a class="item-color" href="#">Inference Serving</a></li>
                      <li><a class="item-color" href="#">Recommender Systems - Merlin</a></li>
                      <li><a class="item-color" href="#">Open Source Portal</a></li>
                      <li><a class="item-color" href="#">AI Enterprise Suite</a></li>
                      <li><a class="item-color" href="#">NVIDIA Workbench</a></li>
                    </div>

                    <div class="col">

                      <h6>Products</h6>

                      <li><a class="item-color" href="#">PC</a></li>
                      <li><a class="item-color" href="#">Laptops & Workstations</a></li>
                      <li><a class="item-color" href="#">Data Center</a></li>
                      <li><a class="item-color" href="#">Cloud</a></li>
                    </div>

                    <div class="col">

                      <h6>Resources</h6>

                      <li><a class="item-color" href="#">Professional Services</a></li>
                      <li><a class="item-color" href="#">Technical Training</a></li>
                      <li><a class="item-color" href="#">Startups</a></li>
                      <li><a class="item-color" href="#">SHIELD</a></li>
                      <li><a class="item-color" href="#">Content Library</a></li>
                      <li><a class="item-color" href="#">Developer Blog</a></li>
                      <li><a class="item-color" href="#">Kaggle Grandmasters</a></li>
                    </div>
                  </div>
                </div>
              </ul>
            </li>

            <li> <a class="dropdown-item" href="#"> Developers </a>
              <ul class="submenu dropdown-menu c-submenu-width">
                <div class="container">
                  <div class="row row-cols-5 align-items-start">
                    <div class="col">
                      <h6>Developer Resources</h6>

                      <li><a class="item-color" href="#">Join the Developer Program</a></li>
                      <li><a class="item-color" href="#">NGC Software Catalog</a></li>
                      <li><a class="item-color" href="#">Technical Training</a></li>
                      <li><a class="item-color" href="#">News</a></li>
                      <li><a class="item-color" href="#">Blog</a></li>
                      <li><a class="item-color" href="#">Fourms</a></li>
                      <li><a class="item-color" href="#">Open Source Portal</a></li>
                      <li><a class="item-color" href="#">NVIDIA GTC</a></li>
                      <li><a class="item-color" href="#">Startups</a></li>
                      <li><a class="item-color" href="#">Developer Home ></a></li>
                    </div>
                    <div class="col">
                      <h6>Application Frameworks</h6>

                      <li><a class="item-color" href="#">3D Collaboration - Omniverse</a></li>
                      <li><a class="item-color" href="#">Automotive - DRIVE</a></li>
                      <li><a class="item-color" href="#">Cloud-AI Video Streaming - Maxine</a></li>
                      <li><a class="item-color" href="#">Conversational AI - Riva</a></li>
                      <li><a class="item-color" href="#">Data Analytics - RAPIDS</a></li>
                      <li><a class="item-color" href="#">Healthcare- Clara</a></li>

                    </div>
                   
                    <div class="col">

                      <div>
                        &nbsp;
                      </div>

                      <li><a class="item-color" href="#">High-Performance Computing</a></li>
                      <li><a class="item-color" href="#">Intelligent Video Analytics - Metropolis</a></li>
                      <li><a class="item-color" href="#">Recommender Systems - Merlin</a></li>
                      <li><a class="item-color" href="#">Roboticists - Isaac</a></li>
                      <li><a class="item-color" href="#">Telecommunications - Aerial</a></li>

                    </div>

                    <div class="col">

                      <h6>Top SDKs and Libraries</h6>

                      <li><a class="item-color" href="#">Parallel Programming - CUDA Toolkit</a></li>
                      <li><a class="item-color" href="#">Edge AI applications - Jetpack</a></li>
                      <li><a class="item-color" href="#">BlueField data processing - DOCA</a></li>
                      <li><a class="item-color" href="#">Accelerated Libraries - CUDA-X Libraries</a></li>
                      <li><a class="item-color" href="#">Deep learning Inference - TensorRT</a></li>

                    </div>

                    <div class="col">

                      <div>
                        &nbsp;
                      </div>
                      
                      <li><a class="item-color" href="#">Deep Learning Training - cuDNN</a></li>
                      <li><a class="item-color" href="#">Deep Learning Frameworks</a></li>
                      <li><a class="item-color" href="#">Conversational AI - NeMo</a></li>
                      <li><a class="item-color" href="#">Intelligent Video Analytics - DeepStream</a></li>
                      <li><a class="item-color" href="#">NVIDIA Unreal Engine 4</a></li>
                      <li><a class="item-color" href="#">Ray Tracing - RTX</a></li>
                      <li><a class="item-color" href="#">Video Decode/Encode</a></li>

                    </div>
                  </div>
                </div>
              </ul>
            </li>

            <li> <a class="dropdown-item" href="#"> Gamers</a>
              <ul class="submenu dropdown-menu c-submenu-width">
                <div class="container">
                  <div class="row row-cols-4 align-items-start">
                    <div class="col">
                      <h6>GeForce</h6>

                      <li><a class="item-color" href="#">Overview</a></li>
                      <li><a class="item-color" href="#">GeForce Graphics Cards</a></li>
                      <li><a class="item-color" href="#">Gaming Laptops</a></li>
                      <li><a class="item-color" href="#">G-SYNC Monitors</a></li>
                      <li><a class="item-color" href="#">RTX Games</a></li>

                    </div>
                    <div class="col">

                      <li><a class="item-color" href="#">GeForce Experience</a></li>
                      <li><a class="item-color" href="#">GeForce Drivers</a></li>
                      <li><a class="item-color" href="#">Fourms</a></li>
                      <li><a class="item-color" href="#">Support</a></li>
                      <li><a class="item-color" href="#">Shop</a></li>

                    </div>

                    <div class="col">
                      <h6>GeFroce NOW</h6>

                      <li><a class="item-color" href="#">Overview</a></li>
                      <li><a class="item-color" href="#">Download</a></li>
                      <li><a class="item-color" href="#">Games</a></li>
                      <li><a class="item-color" href="#">Pricing</a></li>
                      <li><a class="item-color" href="#">FAQs</a></li>
                      <li><a class="item-color" href="#">Fourms</a></li>
                      <li><a class="item-color" href="#">Support</a></li>

                    </div>

                    <div class="col">

                      <h6>SHIELD</h6>

                      <li><a class="item-color" href="#">Overview</a></li>
                      <li><a class="item-color" href="#">Compare</a></li>
                      <li><a class="item-color" href="#">Shop</a></li>
                      <li><a class="item-color" href="#">FAQs</a></li>
                      <li><a class="item-color" href="#">Knowledge Base</a></li>

                    </div>
                  </div>
                </div>
              </ul>
            </li>

            <li> <a class="dropdown-item" href="#"> IT Professionals </a>
              <ul class="submenu dropdown-menu c-submenu-width">
                <div class="container">
                  <div class="row row-cols-4 align-items-start">
                    <div class="col">
                      <h6>Solutions</h6>

                      <li><a class="item-color" href="#">Data Center [On-Premises]</a></li>
                      <li><a class="item-color" href="#">Edge Computing</a></li>
                      <li><a class="item-color" href="#">Cloud Computing</a></li>
                      <li><a class="item-color" href="#">Networking</a></li>
                      <li><a class="item-color" href="#">Virualization</a></li>
                      <li><a class="item-color" href="#">Enterprise IT Solutions</a></li>
                    </div>
                    <div class="col">
                      <h6>Software</h6>

                      <li><a class="item-color" href="#">AI Enterprise Suite</a></li>
                      <li><a class="item-color" href="#">Cloud Native Support</a></li>
                      <li><a class="item-color" href="#">Cluster Management</a></li>
                      <li><a class="item-color" href="#">Edge Deployment Management </a></li>
                      <li><a class="item-color" href="#">Inferencing Serving</a></li>
                      <li><a class="item-color" href="#">IO Accerleration</a></li>
                      <li><a class="item-color" href="#">Networking</a></li>
                      <li><a class="item-color" href="#">Virtual GPU</a></li>

                    </div>

                    <div class="col">
                      <h6>Apps and Tools</h6>

                      <li><a class="item-color" href="#">Data Center</a></li>
                      <li><a class="item-color" href="#">GPU Monitoring</a></li>
                      <li><a class="item-color" href="#">NVIDIA Quadro Experience</a></li>
                      <li><a class="item-color" href="#">NVIDIA RTX Desktop Manager</a></li>

                    </div>

                    <div class="col">

                      <h6>Resources</h6>

                      <li><a class="item-color" href="#">Data Center & IT Resources</a></li>
                      <li><a class="item-color" href="#">Technical Training</a></li>
                      <li><a class="item-color" href="#">Enterprise Support</a></li>
                      <li><a class="item-color" href="#">Drivers</a></li>
                      <li><a class="item-color" href="#">Security</a></li>
                      <li><a class="item-color" href="#">Product Documentation</a></li>
                      <li><a class="item-color" href="#">Fourms</a></li>
                      
                    </div>
                  </div>
                </div>
              </ul>
            </li>

            <li> <a class="dropdown-item" href="#"> Reseachers </a>
              <ul class="submenu dropdown-menu c-submenu-width">
                <div class="container">
                  <div class="row row-cols-4 align-items-start">
                    <div class="col">
    
                      <li><a class="item-color" href="#">NVIDIA Research Home</a></li>
                      <li><a class="item-color" href="#">Research Areas</a></li>
                      <li><a class="item-color" href="#">AI Playground</a></li>
                    </div>
                    <div class="col">

                      <li><a class="item-color" href="#">Video Highlights</a></li>
                      <li><a class="item-color" href="#">COIVD-19</a></li>
                      <li><a class="item-color" href="#">NGC Software Catalog</a></li>
                    </div>

                    <div class="col">
        
                      <li><a class="item-color" href="#">Technical Training</a></li>
                      <li><a class="item-color" href="#">Startups</a></li>
                      <li><a class="item-color" href="#">News</a></li>
                    </div>

                    <div class="col">

                      <li><a class="item-color" href="#">Developer Blog</a></li>
                      <li><a class="item-color" href="#">Open SOurce Portal</a></li>
                      <li><a class="item-color" href="#">Cambridge-1 Supercomputer</a></li>
                    </div>
                  </div>
                </div>
              </ul>
            </li>

            <li> <a class="dropdown-item" href="#"> Roboticists </a>
              <ul class="submenu dropdown-menu c-submenu-width">
                <div class="container">
                  <div class="row row-cols-4 align-items-start">
                    <div class="col">
                      <h6>Products</h6>

                      <li><a class="item-color" href="#">AI Training - DGX</a></li>
                      <li><a class="item-color" href="#">Edge Computing - DGX</a></li>
                      <li><a class="item-color" href="#">Embedded Computing - Jetson</a></li>
                    </div>
                    <div class="col">
                      <h6>Software</h6>

                      <li><a class="item-color" href="#">Robotics - Isaac SDK</a></li>
                      <li><a class="item-color" href="#">Simulation - Isaac Sim</a></li>
                      <li><a class="item-color" href="#">TAO Toolkit</a></li>
                      <li><a class="item-color" href="#">Vision AI - Deepstream SDK</a></li>
                      <li><a class="item-color" href="#">Edge Deployment Mangement</a></li>
                    </div>

                    <div class="col">
                      <h6>Use Cases</h6>

                      <li><a class="item-color" href="#">Healthcare and Life Science</a></li>
                      <li><a class="item-color" href="#">Manufacturing</a></li>
                      <li><a class="item-color" href="#">Public Sector </a></li>
                      <li><a class="item-color" href="#">Retail</a></li>
                      <li><a class="item-color" href="#">Robotics</a></li>
                      <li><a class="item-color" href="#">More ></a></li>
                    </div>

                    <div class="col">

                      <h6>Resources</h6>

                      <li><a class="item-color" href="#">NVIDIA Blog</a></li>
                      <li><a class="item-color" href="#">Robotics Research</a></li>
                      <li><a class="item-color" href="#">Developer News</a></li>
                      <li><a class="item-color" href="#">Developers Blog</a></li>
                      <li><a class="item-color" href="#">Technical Training</a></li>
                      <li><a class="item-color" href="#">Startups</a></li>
                    </div>

                  </div>
                </div>
              </ul>
            </li>

            <li> <a class="dropdown-item" href="#"> Startups </a>
            </li>
          </ul>
        </li>
        <li class="nav-item" style="margin-left: 400px">
          <a routerLink="shop" routerLinkActive="active" class="nav-link active m-2 nav-item-color" aria-current="page" href="#">SHOP</a>
        </li>

        <li class="nav-item">
          <a routerLink="drivers" routerLinkActive="active" class="nav-link active m-2 nav-item-color" aria-current="page" href="#">DRIVERS</a>
        </li>

        <li class="nav-item">
          <a routerLink="support" routerLinkActive="active" class="nav-link active m-2 nav-item-color" aria-current="page" href="#">SUPPORT</a>
        </li>

        <div class="d-flex">
          <div class="input-group">
            <li class="nav-item dropdown" id="myDropdown">
              <a class="nav-link active" href="#" id="searchDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                <button class="btn fm" type="button">
                  <svg class="bi" width="21" height="21" fill="currentColor">
                    <use xlink:href="/assets/bootstrap-icons.svg#search" />
                  </svg>
                </button>
              </a>
              <ul class="dropdown-menu">
                <input class="form-control me-2" type="search" placeholder="Search NVIDIA" aria-label="Search">
                <span class="input-group-text">
                  <svg class="bi" width="13" height="13" fill="currentColor">
                    <use xlink:href="/assets/bootstrap-icons.svg#search" />
                  </svg>
                </span>
              </ul>
          </div>
          <div class="input-group">
            <button class="btn fm" type="button">
              <svg class="bi" width="21" height="21" fill="currentColor">
                <use xlink:href="assets/bootstrap-icons.svg#cart" />
              </svg>
            </button>
          </div>
          <div class="input-group">
            <button class="btn fm" type="button" routerLink="account" routerLinkActive="active">
              <svg class="bi m-2" width="21" height="21" fill="currentColor">
                <use xlink:href="/assets/bootstrap-icons.svg#person-circle" />
              </svg>
            </button>
          </div>
        </div>
      </ul>
    </div>
    <!-- navbar-collapse.// -->
  </div>
  <!-- container-fluid.// -->
</nav>