.dropdown-menu > li:hover{ background-color: #f1f1f1 
}

.nav-item .submenu-left{ 
	right:100%; left:auto;
}

.dropdown-menu > li:hover > .submenu{ display: block; 
}

.container-height{
	height: 30px;
	}
	.nav-item-color{
		color:grey;
}

.item-color{
	color:gray;
}

.nav { margin-bottom: 0; 
}

.dropdown { position: static; 
}

.dropdown-menu { width: 100%; text-align: center; left:0; right:0; 
}

.dropdown-menu>li { display: table-cell; 
}