.carousel-inner{
    height: 580px;
}

.item, img{
    height: 600px !important;
    width:  100% !important;
}
.btn{
    background-color: yellowgreen;
}
.carousel-middle{
    top: 200px;
    left: 200px;

}
.carousel-center{
    top: 175px;
    left: 35px;
}
   