<div id="carouselIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>

    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/assets/geforce-rtx-3050.jpg" class="d-block w-100">
            <div class="carousel-caption d-none d-lg-table">
                <h1>NEW GEFORCE RTX 3050</h1>
                <p>THE ULTIMATE PLAY</p>
                <a href="#" class="btn btn-primary">OUT NOW</a>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/assets/nvidia-fortnite.png" class="d-block w-100">
            <div class="carousel-caption d-none d-lg-table">
                <h1>TAP INTO FORTNITE ON GEFORCE NOW</h1>
                <p>LIMITED TIME CLOSED BETA NOW STREAMING ON IOS SAFARI AND ANDRIOD</p>
                <a href="#" class="btn btn-primary">LEARN MORE</a>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/assets/nvidia-canvas-2.jpg" class="d-block w-100">
            <div class="carousel-caption d-none d-lg-table">
                <h1>NVIDIA CANVAS</h1>
                <p>THE APP THATS PUTTING AI IN PAINTING</p>
                <a href="#" class="btn btn-primary">DOWNLOAD NOW</a>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/assets/nvidia-canvas-3.jpg" class="d-block w-100">
            <div class="carousel-caption d-none d-lg-table">
                <h1>NVIDIA NAMED AMERICA'S BEST PLACE TO WORK ON LATEST GLASSDOOR LIST</h1>
                <a href="#" class="btn btn-primary">LEARN MORE</a>
            </div>
        </div>
    </div>
</div>