<div id="carouselIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>

    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/assets/geforce-rtx-3050.jpg" class="d-block w-100">
            <div class="carousel-caption carousel-middle d-none d-lg-table">
                <h1 style="color:yellowgreen">NEW GEFORCE RTX 3050</h1>
                <h2>THE ULTIMATE PLAY</h2>
                <a href="#" class="btn btn-primary">OUT NOW</a>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/assets/nvidia-fortnite.png" class="d-block w-100">
            <div class="carousel-caption carousel-center d-none d-lg-table">
                <h1>TAP INTO FORTNITE </h1><h1>ON GEFORCE NOW</h1>
                <h3 style="color:yellowgreen">LIMITED TIME CLOSED BETA</h3> <h3 style="color:yellowgreen">NOW STREAMING ON IOS</h3> <h3 style="color:yellowgreen">SAFARI AND ANDRIOD</h3>
                <a href="#" class="btn btn-primary">LEARN MORE</a>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/assets/nvidia-canvas-2.jpg" class="d-block w-100">
            <div class="carousel-caption carousel-middle d-none d-lg-table">
                <h1 style="color:yellowgreen">NVIDIA CANVAS</h1>
                <h3 style="color:black">THE APP THATS PUTTING AI IN PAINTING</h3>
                <a href="#" class="btn btn-primary">DOWNLOAD NOW</a>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/assets/nvidia-glassdoor2.jpg" class="d-block w-100">
            <div class="carousel-caption carousel-center d-none d-lg-table">
                <h1 style="color:black">NVIDIA NAMED</h1> <h1 style="color:black">AMERICA'S BEST PLACE</h1> <h1 style="color:black">TO WORK ON LATEST</h1> <h1 style="color:black">GLASSDOOR LIST</h1>
                <a href="#" class="btn btn-primary">LEARN MORE</a>
            </div>
        </div>
    </div>
</div>