<div id="carouselIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>

    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/assets/nvidia-shop-top1.jpg" class="d-block w-100">
            <div class="carousel-caption carousel-middle d-none d-lg-table">
                <h1 class="play-color">THE ULTIMATE PLAY</h1>
                <h2 class="play-color1">GEFORCE RTX 30 SERIES</h2>
                <a href="#" class="btn btn-primary">LEARN MORE</a>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/assets/nvidia-shop-top2.jpg" class="d-block w-100">
            <div class="carousel-caption carousel-middle d-none d-lg-table">
                <h1 class="shield-color">MORE OPTIONS. </h1><h1 class="shield-color">MORE TO LOVE</h1>
                <h3 class="shield-color1">THE ALL-NEW SHIELD TV</h3> 
                <a href="#" class="btn btn-primary">LEARN MORE</a>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/assets/nvidia-shop-top3.jpg" class="d-block w-100">
            <div class="carousel-caption carousel-middle d-none d-lg-table">
                <h1 class="jet-color">JETSON STORE</h1>
                <h3 class="jet-color2">BUY THE LAEST DEVELOPER KITS</h3>
                <a href="#" class="btn btn-primary">DOWNLOAD NOW</a>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/assets/nvidia-shop-top4.jpg" class="d-block w-100">
            <div class="carousel-caption carousel-middle d-none d-lg-table">
                <h1 class="worker-color">WORKER BY DAY.</h1> <h1  class="worker-color">WARRIOR BY NIGHT.</h1> 
                <h3 class="worker-color1">THIN AND POWERFUL GEFORCE LAPTOPS</h3>
                <a href="#" class="btn btn-primary">LEARN MORE</a>
            </div>
        </div>
    </div>
</div>