<div>
    &nbsp;
</div>

<div>
    &nbsp;

    <div class="card" style="width: 16rem;">
        <a href="#" class="btn">
            <h6 class="card-title display-6" href="#">{{name}}</h6>
            <div class="card-body s-body">
                <p class="card-text">{{description1}}</p>
                <p class="card-text">{{description2}}</p>
                <p class="card-text">{{description3}}</p>
                <p class="card-text">{{description4}}</p>
                <p class="card-text">{{description5}}</p>
                <p class="card-link">{{link}}</p>
            </div>
        </a>
    </div>
</div>