<div>
    &nbsp;
</div>
<div>
    &nbsp;
    <div class="d-flex justify-content-center">
        <h1 style="color:yellowgreen"> SHOP</h1>
    </div>

    <div>
        &nbsp;
    </div>

    <div class="d-flex justify-content-center">
        <div class="row">
            <div class="col-sm-3">
                <div class="card" style="width: 18rem;">
                    <a href="#" class="btn">
                        <img src={{img}} class="card-img-top">
                        <div class="card-body s-body">
                            <h5 class="card-title" href="#">{{name}}</h5>
                            <p class="card-text">{{description}}</p>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="card" style="width: 18rem;">
                    <a href="#" class="btn">
                        <img src="/assets/geforce-rtx-3080.jpg" class="card-img-top">
                        <div class="card-body s-body">
                            <h5 class="card-title">The Ultimate Play</h5>
                            <p class="card-text">GeForce RTX 30 Series.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card" style="width: 18rem;">
                    <a href="#" class="btn">
                        <img src="/assets/GFN-Thursday.jpg" class="card-img-top">
                        <div class="card-body s-body">
                            <h5 class="card-title">GFN Thursday</h5>
                            <p class="card-text">See what's streaming this week on GeForce NOW.</p>

                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card" style="width: 18rem;">
                    <a href="#" class="btn">
                        <img src="/assets/nvidia-canvas.jpg" class="card-img-top">
                        <div class="card-body s-body">
                            <h5 class="card-title">NVIDIA Canvas App</h5>
                            <p class="card-text">The app thats putting AI in painting.</p>

                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    