<div>
    &nbsp;
</div>
<div>
    &nbsp;
    <div class="d-flex justify-content-center">
        <h1 style="color:yellowgreen"> SHOP</h1>
    </div>

    <div>
        &nbsp;
    </div>

    <div class="d-flex justify-content-center">
        <div class="row">
            <div class="col-sm-3">
                <div class="card" style="width: 18rem;">
                    <img src="/assets/Laptop.jpg" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">GeForce RTX 30 Series Laptops</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="card" style="width: 18rem;">
                    <img src="/assets/geforce-rtx-3080.jpg" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">The Ultimate Play</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's
                            content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card" style="width: 18rem;">
                    <img src="/assets/GFN-Thursday.jpg" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">GFN Thursday</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's
                            content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card" style="width: 18rem;">
                    <img src="/assets/nvidia-canvas.jpg" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">NVIDIA Canvas App</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's
                            content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center">
        <h1 style="color:yellowgreen">GAMING</h1>
    </div>

    <div class="d-flex justify-content-center">
        <div class="row">
            <div class="col-sm-3">
                <div class="card" style="width: 18rem;">
                    <img src="/assets/r6.jpg" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Frames Win Games</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="card" style="width: 18rem;">
                    <img src="/assets/RTX-its-on.jpg" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">RTX. It's On.</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's
                            content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card" style="width: 18rem;">
                    <img src="/assets/CES-2022.jpg" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">CES 2022 Annoucements</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's
                            content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card" style="width: 18rem;">
                    <img src="/assets/multiple-games.jpg" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">RTX. It's On.</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's
                            content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        &nbsp;
    </div>
    <div class="d-flex justify-content-center">
        <h1 style="color:yellowgreen">LATEST NEWS</h1>
    </div>

    <div class="d-flex justify-content-center">
        <div class="row">
            <div class="col-sm-3">
                <div class="card" style="width: 18rem;">
                    <img src="/assets/n1.jpg" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">NVIDIA Merlin Helps Fuel Clicks for Online Giants</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="card" style="width: 18rem;">
                    <img src="/assets/n2.jpg" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">NVIDIA Ominverse Now In General Avaialibity</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's
                            content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card" style="width: 18rem;">
                    <img src="/assets/n3.jpg" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">CES 2022 Annoucements</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's
                            content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card" style="width: 18rem;">
                    <img src="/assets/n4.jpg" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">RTX. It's On.</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's
                            content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div>
    &nbsp;
</div>
    <div class="d-flex justify-content-center">
        <div class="row">
            <div class="col-sm-3">
                <div class="card" style="width: 18rem;">
                    <img src="/assets/n5.jpg" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Frames Win Games</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="card" style="width: 18rem;">
                    <img src="/assets/n6.jpg" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">RTX. It's On.</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's
                            content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card" style="width: 18rem;">
                    <img src="/assets/n7.jpg" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">CES 2022 Annoucements</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's
                            content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card" style="width: 18rem;">
                    <img src="/assets/n8.jpg" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">RTX. It's On.</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's
                            content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>