
<fm-topnavbar>Loading...</fm-topnavbar>

<fm-shopnavbar>Loading...</fm-shopnavbar>

<br><br>

<fm-shop-carousel>Loading...</fm-shop-carousel>

<br>


<div class="d-flex justify-content-center">
    <h1 style="color:yellowgreen">GAMING AND ENTERTAINMENT</h1>
</div>
<div class="container-fluid d-flex justify-content-center">
    <div class="row row-cols-4 align-items-start">
        <div *ngFor="let shop of shops">
            <fm-shop-card img={{shop.img}} name={{shop.name}} description={{shop.description}}>
                Loading...
            </fm-shop-card>
        </div>
    </div>
</div>

<br>


<div class="d-flex justify-content-center">
    <h1 style="color:yellowgreen">GRAPHICS CARDS, LAPTOPS AND EMBEDDED SYSTEMS</h1>
</div>
<div class="container-fluid d-flex justify-content-center">
    <div class="row row-cols-4 align-items-start">
        <div *ngFor="let shop2 of shops2">
            <fm-shop-card img={{shop2.img}} name={{shop2.name}} description={{shop2.description}}>
                Loading...
            </fm-shop-card>
        </div>
    </div>
</div>

<br>


<div class="d-flex justify-content-center">
    <h1 style="color:yellowgreen">NETWORKING</h1>
</div>
<div class="container-fluid d-flex justify-content-center">
    <div class="row row-cols-3 align-items-start">
        <div *ngFor="let shop3 of shops3">
            <fm-shop-card img={{shop3.img}} name={{shop3.name}} description={{shop3.description}}>
                Loading...
            </fm-shop-card>
        </div>
    </div>
</div>

<br>


<div class="container">
    <img class="photo-width" src="/assets/nvidia-shop-bottom.jpg">
    <div class="centered">
        <h4 class="display-7 title-color">NVIDIA DEEP LEARNING INSTITUTE</h4>
    </div>
    <div class="centered1">
        <h5 class="display-10">Education and Training Solutions to Solve the World's Most Challenging Problems</h5>
    </div>
    <div class="centered2">
    <a href="#" class="btn btn-primary">LEARN MORE</a>
    </div>

</div>

<br><br>


<fm-footer>Loading...</fm-footer>

<fm-second-footer>Loading...</fm-second-footer>