<fm-topnavbar>Loading...</fm-topnavbar>

<div class="text-center">
    <br>

    <h1 class=" display-4 title-color title">NVIDIA SUPPORT</h1>
    <h5 class="text-color">NVIDIA's support services are designed to meet the needs of both consumer and enterprise</h5>
    <h5 class="text-color">customer, with multiple options to help ensure an exceptional customer experience.</h5>
    <h5 class="text-color">Please select the appropriate option below to learn more.</h5>

</div>

<div class="container-fluid d-flex justify-content-center">
    <div class="row row-cols-4 align-items-start">
        <div *ngFor="let support of supports">
            <fm-support-card name={{support.name}} description1={{support.description1}} description2={{support.description2}} description3={{support.description3}} description4={{support.description4}} description5={{support.description5}} link={{support.link}}>
                Loading...
            </fm-support-card>
        </div>
    </div>
</div>

<br><br>

<fm-footer>Loading...</fm-footer>

<fm-second-footer>Loading...</fm-second-footer>